Repository 4Ailen/backend, pull requests merged in 2023-07, with the labels that each got.

#148 Refactor/chat 중복 코드 삭제 및 채팅서버 접근 JWT 발급, 채팅방 정보 제공, 자기소개란 추가
  src/main/java/com/aliens/friendship/domain/auth/dto/RoomInfoDto.java
  src/main/java/com/aliens/friendship/domain/auth/model/principal/UserPrincipal.java
  src/main/java/com/aliens/friendship/domain/chatting/controller/ChattingController.java
  src/main/java/com/aliens/friendship/domain/chatting/controller/MessageController.java
  src/main/java/com/aliens/friendship/domain/chatting/controller/dto/ChatMessageRequest.java
  src/main/java/com/aliens/friendship/domain/chatting/domain/ChatMessage.java
  src/main/java/com/aliens/friendship/domain/chatting/repository/ChatMessageRepository.java
  src/main/java/com/aliens/friendship/domain/chatting/service/ChattingJwtTokenUtil.java
  src/main/java/com/aliens/friendship/domain/chatting/service/ChattingService.java
  src/main/java/com/aliens/friendship/domain/matching/service/MatchingResultSaveService.java
  src/main/java/com/aliens/friendship/domain/matching/service/MatchingService.java
  src/main/java/com/aliens/friendship/domain/matching/service/model/Participant.java
  src/main/java/com/aliens/friendship/domain/matching/service/model/ServiceModelMatching.java
  src/main/java/com/aliens/friendship/domain/member/controller/MemberController.java
  src/main/java/com/aliens/friendship/domain/member/controller/dto/JoinDto.java
  src/main/java/com/aliens/friendship/domain/member/controller/dto/MemberInfoDto.java
  src/main/java/com/aliens/friendship/domain/member/domain/Member.java
  src/main/java/com/aliens/friendship/domain/member/repository/MemberRepositoryImpl.java
  src/main/java/com/aliens/friendship/domain/member/service/MemberService.java
  src/main/java/com/aliens/friendship/global/config/cache/CacheConfig.java
  src/main/java/com/aliens/friendship/global/config/cache/CacheKey.java
  src/main/java/com/aliens/friendship/global/config/jwt/JwtExpirationEnums.java
  src/main/java/com/aliens/friendship/global/config/jwt/JwtHeaderUtilEnums.java
  src/main/java/com/aliens/friendship/global/config/security/CustomUserDetailService.java
  src/main/java/com/aliens/friendship/global/config/security/SecurityConfig.java
  src/main/java/com/aliens/friendship/global/config/webSocket/WebSocketConfig.java
  src/test/java/com/aliens/friendship/chatting/controller/ChattingControllerTest.java
  src/test/java/com/aliens/friendship/chatting/service/ChattingServiceTest.java
  src/test/java/com/aliens/friendship/jwt/JwtAPITest.java
  src/test/java/com/aliens/friendship/jwt/JwtUtilTest.java
  src/test/java/com/aliens/friendship/matching/controller/ServiceModelMatchingControllerTest.java
  src/test/java/com/aliens/friendship/matching/repository/ServiceModelMatchingRepositoryImplTest.java
  src/test/java/com/aliens/friendship/matching/service/ServiceModelMatchingInfoServiceTest.java
  src/test/java/com/aliens/friendship/matching/service/ServiceModelMatchingServiceTest.java
  src/test/java/com/aliens/friendship/member/controller/MemberControllerTest.java
  src/test/java/com/aliens/friendship/member/service/MemberServiceTest.java
Labels: 🌟feat, ⚙️refactor

#146 refactor/#145 회원가입, 상대정보반환 API 요청값 및 반환값 수정
  src/main/java/com/aliens/friendship/domain/matching/controller/dto/PartnersResponse.java
  src/main/java/com/aliens/friendship/domain/matching/service/MatchingInfoService.java
  src/main/java/com/aliens/friendship/domain/member/controller/NationalityController.java
  src/main/java/com/aliens/friendship/domain/member/controller/dto/JoinDto.java
  src/main/java/com/aliens/friendship/domain/member/domain/Member.java
  src/main/java/com/aliens/friendship/domain/member/domain/Nationality.java
  src/main/java/com/aliens/friendship/domain/member/repository/NationalityRepository.java
  src/main/java/com/aliens/friendship/domain/member/service/MemberService.java
  src/main/java/com/aliens/friendship/domain/member/service/NationalityService.java
  src/test/java/com/aliens/friendship/matching/controller/PartnersFixture.java
  src/test/java/com/aliens/friendship/matching/controller/ServiceModelMatchingControllerTest.java
  src/test/java/com/aliens/friendship/matching/repository/ServiceModelMatchingRepositoryImplTest.java
  src/test/java/com/aliens/friendship/matching/service/BlockingServiceTest.java
  src/test/java/com/aliens/friendship/matching/service/MemberFixture.java
  src/test/java/com/aliens/friendship/matching/service/ServiceModelMatchingInfoServiceTest.java
  src/test/java/com/aliens/friendship/member/controller/NationalityControllerTest.java
  src/test/java/com/aliens/friendship/member/repository/MemberRepositoryImplTest.java
  src/test/java/com/aliens/friendship/member/service/MemberServiceTest.java
  src/test/java/com/aliens/friendship/member/service/NationalityServiceTest.java
Labels: ⚙️refactor, 리뷰 얼마 안걸려요!!

#150 feat/#149 매칭 남은 기간 API 구현
  src/main/java/com/aliens/friendship/domain/matching/controller/MatchingController.java
  src/main/java/com/aliens/friendship/domain/matching/domain/Applicant.java
  src/main/java/com/aliens/friendship/domain/matching/service/MatchingInfoService.java
  src/test/java/com/aliens/friendship/matching/controller/ServiceModelMatchingControllerTest.java
  src/test/java/com/aliens/friendship/matching/service/ApplicantFixture.java
  src/test/java/com/aliens/friendship/matching/service/ServiceModelMatchingInfoServiceTest.java
Labels: 🧪test, 🌟feat

#152 이메일 인증 페이지 UI 변경
  src/main/java/com/aliens/friendship/domain/emailAuthentication/controller/EmailAuthenticationController.java
  src/main/java/com/aliens/friendship/domain/emailAuthentication/exception/EmailAuthenticationExceptionCode.java
  src/main/java/com/aliens/friendship/domain/emailAuthentication/exception/EmailAuthenticationExceptionHandler.java
  src/main/java/com/aliens/friendship/domain/emailAuthentication/exception/EmailInvalidTokenException.java
  src/main/java/com/aliens/friendship/domain/emailAuthentication/service/EmailAuthenticationService.java
  src/main/java/com/aliens/friendship/global/config/security/SecurityConfig.java
  src/main/resources/public/images/character.png
  src/main/resources/templates/emailVerificationComplete.html
  src/main/resources/templates/emailVerificationInvalidToken.html
  src/main/resources/templates/emailVerificationTimeOut.html
  src/test/java/com/aliens/friendship/chatting/service/ChattingServiceTest.java
Labels: ⚙️refactor, 리뷰 얼마 안걸려요!!

#159 refactor/#158 매칭 완료 일시 반환 API
  src/main/java/com/aliens/friendship/domain/matching/controller/MatchingController.java
  src/main/java/com/aliens/friendship/domain/matching/service/MatchingInfoService.java
  src/test/java/com/aliens/friendship/matching/controller/ServiceModelMatchingControllerTest.java
  src/test/java/com/aliens/friendship/matching/service/ServiceModelMatchingInfoServiceTest.java
Labels: 🧪test, ⚙️refactor, 리뷰 얼마 안걸려요!!

#155 Spring REST DOCS 적용
  build.gradle
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/overview.adoc
  src/main/java/com/aliens/friendship/domain/auth/controller/AuthController.java
  src/main/java/com/aliens/friendship/domain/chatting/controller/ChattingController.java
  src/main/java/com/aliens/friendship/domain/emailAuthentication/controller/EmailAuthenticationController.java
  src/main/java/com/aliens/friendship/domain/matching/controller/MatchingController.java
  src/main/java/com/aliens/friendship/domain/member/controller/APIController.java
  src/main/java/com/aliens/friendship/domain/member/controller/MemberController.java
  src/main/java/com/aliens/friendship/global/response/CommonResult.java
  src/main/java/com/aliens/friendship/global/response/ListResult.java
  src/main/java/com/aliens/friendship/global/response/ResponseService.java
  src/main/java/com/aliens/friendship/global/response/SingleResult.java
  src/test/java/com/aliens/friendship/chatting/controller/ChattingControllerTest.java
  src/test/java/com/aliens/friendship/emailAuthentication/controller/EmailAuthenticationControllerTest.java
  src/test/java/com/aliens/friendship/emailAuthentication/service/EmailAuthenticationServiceTest.java
  src/test/java/com/aliens/friendship/matching/controller/ServiceModelMatchingControllerTest.java
  src/test/java/com/aliens/friendship/matching/repository/ServiceModelMatchingRepositoryImplTest.java
  src/test/java/com/aliens/friendship/member/controller/MemberControllerTest.java
  src/test/java/com/aliens/friendship/member/repository/MemberRepositoryImplTest.java
  src/test/java/com/aliens/friendship/member/service/ProfileImageServiceTest.java
Labels: 📄docs
