Repository 4Ailen/backend, pull requests merged in 2023-03, with the labels that each got.

#84 test/#82 querydsl
  src/main/java/com/aliens/friendship/chatting/domain/Chatting.java
  src/test/java/com/aliens/friendship/chatting/repository/ChattingRepositoryImplTest.java
  src/test/java/com/aliens/friendship/member/repository/MemberRepositoryImplTest.java
Labels: 🧪test, 천천히 리뷰해주세요~

#85 feat/#69 join jwt 인증 인가 적용
  src/main/java/com/aliens/friendship/global/config/jwt/JwtAuthenticationFilter.java
  src/main/java/com/aliens/friendship/global/config/security/SecurityConfig.java
  src/main/java/com/aliens/friendship/jwt/util/JwtTokenUtil.java
  src/main/java/com/aliens/friendship/member/controller/APIController.java
  src/main/java/com/aliens/friendship/member/controller/MemberController.java
  src/main/java/com/aliens/friendship/member/controller/dto/WithdrawalDto.java
  src/main/java/com/aliens/friendship/member/service/MemberService.java
  src/test/java/com/aliens/friendship/jwt/JwtAPITest.java
  src/test/java/com/aliens/friendship/jwt/JwtUtilTest.java
  src/test/java/com/aliens/friendship/member/controller/MemberControllerTest.java
  src/test/java/com/aliens/friendship/member/service/MemberServiceTest.java
  src/test/java/com/aliens/friendship/member/service/NationalityServiceTest.java
Labels: 🌟feat, 천천히 리뷰해주세요~

#87 feat/#68 이메일 인증 SMTP 구현
  .gitignore
  build.gradle
  src/main/java/com/aliens/friendship/emailAuthentication/controller/EmailAuthenticationController.java
  src/main/java/com/aliens/friendship/emailAuthentication/domain/EmailAuthentication.java
  src/main/java/com/aliens/friendship/emailAuthentication/repository/EmailAuthenticationRepository.java
  src/main/java/com/aliens/friendship/emailAuthentication/service/EmailAuthenticationService.java
  src/main/java/com/aliens/friendship/global/config/security/SecurityConfig.java
  src/main/java/com/aliens/friendship/member/repository/MemberRepository.java
  src/main/resources/application.properties
  src/main/resources/application.yml
  src/test/java/com/aliens/friendship/emailAuthentication/controller/EmailAuthenticationControllerTest.java
  src/test/java/com/aliens/friendship/emailAuthentication/service/EmailAuthenticationServiceTest.java
Labels: 🧪test, 🌟feat, 천천히 리뷰해주세요~

#96 fix/#95 jwt 관련 코드 수정
  src/main/java/com/aliens/friendship/global/config/security/CustomUserDetails.java
  src/main/java/com/aliens/friendship/member/controller/APIController.java
  src/main/resources/application.yml
  src/test/java/com/aliens/friendship/jwt/JwtAPITest.java
  src/test/java/com/aliens/friendship/jwt/JwtUtilTest.java
Labels: 🔧fix, 리뷰 얼마 안걸려요!!

#89 Feat/#86 block 차단기능 구현
  src/main/java/com/aliens/friendship/global/config/security/CustomUserDetails.java
  src/main/java/com/aliens/friendship/global/config/security/SecurityConfig.java
  src/main/java/com/aliens/friendship/matching/controller/MatchingController.java
  src/main/java/com/aliens/friendship/matching/domain/BlockingInfo.java
  src/main/java/com/aliens/friendship/matching/repository/BlockingInfoRepository.java
  src/main/java/com/aliens/friendship/matching/service/BlockingInfoService.java
  src/test/java/com/aliens/friendship/jwt/JwtAPITest.java
  src/test/java/com/aliens/friendship/jwt/JwtUtilTest.java
  src/test/java/com/aliens/friendship/matching/controller/MatchingControllerTest.java
  src/test/java/com/aliens/friendship/matching/service/BlockingServiceTest.java
Labels: 🧪test, 🌟feat, 🔧fix, 리뷰 얼마 안걸려요!!

#98 feat/#91 matching 서비스 및 테스트 작성
  build.gradle
  src/main/java/com/aliens/friendship/matching/controller/MatchingController.java
  src/main/java/com/aliens/friendship/matching/controller/dto/MatchingParticipantInfo.java
  src/main/java/com/aliens/friendship/matching/domain/MatchingParticipant.java
  src/main/java/com/aliens/friendship/matching/repository/LanguageRepository.java
  src/main/java/com/aliens/friendship/matching/repository/MatchingParticipantRepository.java
  src/main/java/com/aliens/friendship/matching/service/MatchingInfoService.java
  src/main/java/com/aliens/friendship/matching/service/MatchingService.java
  src/main/java/com/aliens/friendship/matching/service/model/MatchedGroup.java
  src/main/java/com/aliens/friendship/matching/service/model/Participant.java
  src/test/java/com/aliens/friendship/chatting/repository/ChattingRepositoryImplTest.java
  src/test/java/com/aliens/friendship/matching/MatchingServiceTest.java
  src/test/java/com/aliens/friendship/matching/MatchingTest.java
  src/test/java/com/aliens/friendship/matching/MatchingTestMockData.java
Labels: 🧪test, 🌟feat, 🔩chore, 천천히 리뷰해주세요~

#103 Feat/#91 matching API 구현 및 테스트
  src/main/java/com/aliens/friendship/chatting/domain/Chatting.java
  src/main/java/com/aliens/friendship/chatting/domain/ChattingRoom.java
  src/main/java/com/aliens/friendship/chatting/repository/ChattingCustomRepository.java
  src/main/java/com/aliens/friendship/chatting/repository/ChattingRepository.java
  src/main/java/com/aliens/friendship/chatting/repository/ChattingRepositoryImpl.java
  src/main/java/com/aliens/friendship/chatting/service/ChattingService.java
  src/main/java/com/aliens/friendship/global/config/security/CustomUserDetailService.java
  src/main/java/com/aliens/friendship/matching/controller/MatchingController.java
  src/main/java/com/aliens/friendship/matching/controller/dto/ApplicantRequest.java
  src/main/java/com/aliens/friendship/matching/controller/dto/ApplicantResponse.java
  src/main/java/com/aliens/friendship/matching/controller/dto/MatchingParticipantInfo.java
  src/main/java/com/aliens/friendship/matching/controller/dto/PartnersResponse.java
  src/main/java/com/aliens/friendship/matching/domain/Applicant.java
  src/main/java/com/aliens/friendship/matching/domain/Matching.java
  src/main/java/com/aliens/friendship/matching/domain/Question.java
  src/main/java/com/aliens/friendship/matching/repository/ApplicantRepository.java
  src/main/java/com/aliens/friendship/matching/repository/MatchingCustomRepository.java
  src/main/java/com/aliens/friendship/matching/repository/MatchingParticipantRepository.java
  src/main/java/com/aliens/friendship/matching/repository/MatchingRepository.java
  src/main/java/com/aliens/friendship/matching/repository/MatchingRepositoryImpl.java
  src/main/java/com/aliens/friendship/matching/repository/QuestionRepository.java
  src/main/java/com/aliens/friendship/matching/service/MatchingInfoService.java
  src/main/java/com/aliens/friendship/matching/service/MatchingResultSaveService.java
  src/main/java/com/aliens/friendship/matching/service/MatchingService.java
  src/main/java/com/aliens/friendship/matching/service/model/Matching.java
  src/main/java/com/aliens/friendship/matching/service/model/Participant.java
  src/main/java/com/aliens/friendship/member/domain/Member.java
  src/main/java/com/aliens/friendship/member/domain/Nationality.java
  src/main/java/com/aliens/friendship/member/service/MemberService.java
  src/main/resources/templates/chat/room.html
  src/test/java/com/aliens/friendship/chatting/repository/MatchingRepositoryImplTest.java
  src/test/java/com/aliens/friendship/matching/controller/MatchingControllerTest.java
  src/test/java/com/aliens/friendship/matching/controller/PartnersFixture.java
  src/test/java/com/aliens/friendship/matching/service/ApplicantFixture.java
  src/test/java/com/aliens/friendship/matching/service/MatchingInfoServiceTest.java
  src/test/java/com/aliens/friendship/matching/service/MatchingServiceTest.java
  src/test/java/com/aliens/friendship/matching/service/MatchingTestMockData.java
  src/test/java/com/aliens/friendship/matching/service/MemberFixture.java
Labels: 🧪test, 🌟feat, 리뷰 진짜 급함!!!!

#100 feat/#88 member, email API 구현 및 점검
  src/main/java/com/aliens/friendship/emailAuthentication/controller/EmailAuthenticationController.java
  src/main/java/com/aliens/friendship/emailAuthentication/service/EmailAuthenticationService.java
  src/main/java/com/aliens/friendship/global/config/security/SecurityConfig.java
  src/main/java/com/aliens/friendship/jwt/domain/dto/TokenDto.java
  src/main/java/com/aliens/friendship/member/controller/MemberController.java
  src/main/java/com/aliens/friendship/member/controller/NationalityController.java
  src/main/java/com/aliens/friendship/member/controller/dto/JoinDto.java
  src/main/java/com/aliens/friendship/member/controller/dto/MemberInfoDto.java
  src/main/java/com/aliens/friendship/member/controller/dto/PasswordUpdateRequestDto.java
  src/main/java/com/aliens/friendship/member/domain/Member.java
  src/main/java/com/aliens/friendship/member/domain/Nationality.java
  src/main/java/com/aliens/friendship/member/service/MemberService.java
  src/main/java/com/aliens/friendship/member/service/ProfileImageService.java
  src/test/java/com/aliens/friendship/emailAuthentication/controller/EmailAuthenticationControllerTest.java
  src/test/java/com/aliens/friendship/jwt/JwtAPITest.java
  src/test/java/com/aliens/friendship/jwt/JwtUtilTest.java
  src/test/java/com/aliens/friendship/member/controller/MemberControllerTest.java
  src/test/java/com/aliens/friendship/member/controller/NationalityControllerTest.java
  src/test/java/com/aliens/friendship/member/repository/MemberRepositoryImplTest.java
  src/test/java/com/aliens/friendship/member/service/MemberServiceTest.java
Labels: 🧪test, 🌟feat, ⚙️refactor, 천천히 리뷰해주세요~

#106 hotfix: 1.0.0 hotfix
  build.gradle
  src/main/java/com/aliens/friendship/chatting/service/ChattingService.java
  src/main/java/com/aliens/friendship/matching/controller/MatchingController.java
  src/main/java/com/aliens/friendship/matching/service/BlockingInfoService.java
  src/test/java/com/aliens/friendship/chatting/service/ChattingServiceTest.java
  src/test/java/com/aliens/friendship/matching/controller/MatchingControllerTest.java
  src/test/java/com/aliens/friendship/matching/service/BlockingServiceTest.java
  src/test/java/com/aliens/friendship/matching/service/MatchingInfoServiceTest.java
  src/test/java/com/aliens/friendship/matching/service/MatchingServiceTest.java
  src/test/java/com/aliens/friendship/member/controller/NationalityControllerTest.java
Labels: 🔧fix, 리뷰 진짜 급함!!!!

#107 hotfix: 1.0.1 hotfix
  src/main/java/com/aliens/friendship/chatting/service/ChattingService.java
  src/main/java/com/aliens/friendship/emailAuthentication/service/EmailAuthenticationService.java
  src/main/java/com/aliens/friendship/matching/controller/MatchingController.java
  src/test/java/com/aliens/friendship/matching/controller/MatchingControllerTest.java
Labels: 🔧fix, 리뷰 진짜 급함!!!!
